<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>FacePalm</title>
    <meta name="keywords" content="blue candy template, free html css website, blue menu bar, dark gray background" />
    <meta name="description" content="Blue Candy is a free CSS Template from templatemo.com that can be used for any purpose." />
    <link href="~/Content/templatemo_style.css" rel="stylesheet" type="text/css" />
    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*/*-----------------------------------------------------------------------------------------------------------*/*@
    <div id="templatemo_main_wrapper">
        <div id="templatemo_wrapper">

            <div id="templatemo_header">

                <div id="site_title">
                    <a href="http://www.templatemo.com/preview/templatemo_286_blue_candy" target="_parent">Face Palm<span>Let`s work!!!</span></a>
                </div>
                <!-- end of site_title -->

                <div id="header_right">
                    <div id="twitter">
                        @Html.Partial("_LoginPartial")
                    </div>

                    <div class="cleaner"></div>

                    <h1>Novus ordo seclorum</h1>
                    <p>Das ist fantastisch!!!</p>
                    <div class="btn_more image_fr"><a href="#">Read more<span> &raquo;</span></a></div>

                </div>

                <div class="cleaner"></div>

            </div>

            <div id="templatemo_menu">
                <ul>
                    @Html.Partial("_MenuPartial")
                </ul>
            </div>
            <!-- end of templatemo_menu -->

            <div id="content_wrapper">
                @RenderSection("featured", required: false)
                @RenderBody()
                <div id="templatemo_footer">
                    <div class="col_w300">
                        <h4>Our Pages</h4>
                        <ul>
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            @*<li>@Html.ActionLink("All messages", "Index", "Chat")</li>
                            <li>@Html.ActionLink("Messages", "Message", "Chat")</li>*@
                        </ul>
                    </div>

                    <div class="col_w300">
                        <h4>Partners</h4>
                        <ul>
                            <li><a href="http://www.flashmo.com">Flash Templates</a></li>
                            <li><a href="http://www.templatemo.com">CSS Templates</a></li>
                            <li><a href="http://www.koflash.com">Flash Websites Gallery</a></li>
                            <li><a href="http://www.templatemo.com/page/1">Free Web Templates</a></li>
                        </ul>

                    </div>

                    <div class="col_w300">
                        <h4>About Us</h4>
                        <p>Integer consectetur enim eget diam tincidunt vehicula. Aenean scelerisque tellus vitae tortor placerat egestas. Ut volutpat erat nec mauris vestibulum sit amet pharetra urna faucibus.</p>
                        <div class="btn_more"><a href="company.html">Read more <span>&raquo;</span></a></div>

                    </div>


                    <div class="cleaner"></div>
                </div>
                <!-- end of footer -->

                <div id="templatemo_copyright">
                    Copyright © 2048 <a href="#">Sanya Bogos:)</a> | Designed by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>

                </div>

                <div class="cleaner"></div>
            </div>
        </div>
    </div>
    @*@Scripts.Render("~/bundles/jquery")*@
    <script type="text/javascript">
        $(function () {
            function callback() {
                setTimeout(function () {
                    $("#effect").removeAttr("style").hide().fadeIn();
                }, 1000);
            };
            $("#templatemo_menu").children().mouseover(function () {
                $(this).animate({ height: '+=20', width: '+=20' });
            });

            $("#templatemo_menu").children().click(function () {
                $(this).effect("Explode", {}, 500, callback);
            });

            $("#templatemo_menu").children().mouseout(function () {
                $(this).animate({ height: '-=20', width: '-=20' });
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
