@if (User.IsInRole("admin"))
{
    <li>@Html.ActionLink("All messages", "Index", "Chat")</li>
}
<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("About", "About", "Home")</li>
<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
<li>@Html.ActionLink("People", "PeopleSearch", "Chat")</li>
